server:
  port: 8082

spring:
  application:
    name: profile-service

  datasource:
    url: jdbc:postgresql://localhost:5432/profile_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

